.App {
  background: #f1f1f1;
}

 .App-logo {
  animation: App-logo-spin infinite 1800 linear;
  height: 120px;
} 

 .App-logo-small {
  height: 20px;
  display: inline-block;
  position: relative;
  top: 3px;
} 

.App-header,
.App-footer {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-header p {
  max-width: 500px;
  margin: 0 auto;
}

.App-header p a {
  color: #fff;
  text-decoration: underline;
}

.App-footer a {
  text-decoration: underline;
  color: #fff;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

.sidenav{
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1; 
  top: 0;
  overflow-x: hidden;
}
